body {
  background-color: #eee;
}

.screen {
  background-color: #000;
  position: relative;
}

.map-img {
  width: 100%;
  position: absolute;
}

.zoom-buttons {
  margin: 0 auto;
  height: 72px;
  width: 40px;
  position: absolute;
  bottom: 0px;
  right: 2px;
}

.zoom-btn {
  height: 32px;
  width: 38px;
  border-radius: 50px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 22px;
  box-shadow: 2px 2px #777;
  background-color: #888;
}

.barcode-btn {
  position: absolute;
  bottom: 4px;
  border-radius: 0px;
  left: 2px;
  background-color: #888;
  font-size: 24px;
  border: 1px solid #777;
  box-shadow: 2px 2px #999;
}

.player-bar {
  position: absolute;
  width: 110px;
  height: 40px;
  background-color: #eee;
  border: 1px solid #aaa;
  right: 4px;
  top: 2px;
  border-radius: 40px 0px 0px 40px;
  box-shadow: 2px 2px;
}

.pixel-block {
  height: 28px;
  width: 28px;
  margin-left: 16px;
  margin-top: 4px;
  background-color: red;
  border: 1px solid #888;
  box-shadow: 2px 2px;
}

.pixel-p {
  position: absolute;
  font-family: 'ABeeZee';
  right: 4px;
  top: 4px;
  font-size: 21px;
}

.grid-div {
  width: 100%;
  height: 100%;
}

.row {
  margin: 0px;
}

.col-xl-3 {
  height: 50px;
  width: 50px;
  background-color: rgba(0,0,0,0);
  border: 1px solid #555;
}

.screen.screen-2 {
  background-color: #000;
  width: 100%;
  height: 100%;
}

.fa.fa-thumb-tack {
  color: purple;
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
}

.filled-px {
  background-color: rgba(0,255,255,0.4);
}

.filled-px-b {
  background-color: rgba(255,0,255,0.4);
}

.btn-submit-barcode {
  border-radius: 0px;
}

